torch
torchvision
accelerate==0.31.0
diffusers==0.29.2
huggingface_hub
matplotlib
numpy
opencv_python==4.10.0.84
pillow
PyYAML
scipy
setuptools
scikit-image==0.24.0
tqdm
transformers
fvcore
cloudpickle
omegaconf
pycocotools
av
gradio==4.41.0
Ninja==1.11.1.1